### create no context training data from context - 25 million dataset

In [1]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from joblib import dump
import pandas as pd
import numpy as np
import json

In [2]:
# depth of this filr in the project
file_depth = '../..'

with open(file_depth + '/config/data_25m_config.json') as config_file:
    config = json.load(config_file)

new_context_data = config['new_context_data']
context_data = pd.read_csv(file_depth + new_context_data)
context_data

,userId,movieId,day,isWeekday,season,partOfDay,holiday,movieYear,titleType,isAdult,...,genreMystery,genreNews,genreReality-tv,genreRomance,genreSci-fi,genreShort,genreSport,genreThriller,genreWar,genreWestern
0,1,296,3,1,1,3,no_holiday,1994,movie,0,...,0,0,0,0,0,0,0,1,0,0
1,1,306,3,1,1,2,no_holiday,1994,movie,0,...,0,0,0,0,0,0,0,0,0,0
2,1,307,3,1,1,2,no_holiday,1993,movie,0,...,0,0,0,0,0,0,0,0,0,0
3,1,665,3,1,1,3,no_holiday,1995,movie,0,...,0,0,0,0,0,0,0,0,1,0
4,1,899,3,1,1,2,no_holiday,1952,movie,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24983464,162541,50872,2,1,1,4,no_holiday,2007,movie,0,...,0,0,0,0,0,0,0,0,0,0
24983465,162541,55768,2,1,1,4,no_holiday,2007,movie,0,...,0,0,0,0,0,0,0,0,0,0
24983466,162541,56176,2,1,1,4,no_holiday,2007,movie,0,...,0,0,0,0,0,0,0,0,0,0
24983467,162541,58559,2,1,1,4,no_holiday,2008,movie,0,...,0,0,0,0,0,0,0,0,0,0
24983468,162541,63876,2,1,1,4,no_holiday,2008,movie,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
columns_to_drop = [
    'titleType',
    'isAdult',
    'runtimeMinutes',
    'directors',
    'actor',
    'genreAdult',
    'genreBiography',
    'genreFamily',
    'genreHistory',
    'genreImax',
    'genreMusic',
    'genreNews',
    'genreReality-tv',
    'genreShort',
    'genreSport']

movielens_context_data = context_data.drop(columns=columns_to_drop)
movielens_context_data

,userId,movieId,day,isWeekday,season,partOfDay,holiday,movieYear,genreAction,genreAdventure,...,genreFantasy,genreFilm-noir,genreHorror,genreMusical,genreMystery,genreRomance,genreSci-fi,genreThriller,genreWar,genreWestern
0,1,296,3,1,1,3,no_holiday,1994,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,306,3,1,1,2,no_holiday,1994,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,307,3,1,1,2,no_holiday,1993,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,665,3,1,1,3,no_holiday,1995,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,899,3,1,1,2,no_holiday,1952,0,0,...,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24983464,162541,50872,2,1,1,4,no_holiday,2007,0,0,...,0,0,0,0,0,0,0,0,0,0
24983465,162541,55768,2,1,1,4,no_holiday,2007,0,0,...,0,0,0,0,0,0,0,0,0,0
24983466,162541,56176,2,1,1,4,no_holiday,2007,0,0,...,0,0,0,0,0,0,0,0,0,0
24983467,162541,58559,2,1,1,4,no_holiday,2008,1,0,...,0,0,0,0,0,0,0,0,0,0
24983468,162541,63876,2,1,1,4,no_holiday,2008,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
target_data = config['target_data']
target_ratings = pd.read_csv(file_depth + target_data)
target_ratings

          ratingId  rating
0                0     5.0
1                1     3.5
2                2     5.0
3                3     5.0
4                4     3.5
...            ...     ...
24983464  25000072     4.5
24983465  25000073     2.5
24983466  25000074     2.0
24983467  25000075     4.0
24983468  25000076     5.0

[24983469 rows x 2 columns]

In [5]:
movielens_context_data['ratingId'] = context_data.index
del context_data
movielens_context_data = movielens_context_data.merge(target_ratings, on='ratingId', how='left')
del target_data
movielens_context_data = movielens_context_data.drop(['ratingId'], axis=1)
movielens_context_data

,userId,movieId,day,isWeekday,season,partOfDay,holiday,movieYear,genreAction,genreAdventure,...,genreFilm-noir,genreHorror,genreMusical,genreMystery,genreRomance,genreSci-fi,genreThriller,genreWar,genreWestern,rating
0,1,296,3,1,1,3,no_holiday,1994,0,0,...,0,0,0,0,0,0,1,0,0,5.0
1,1,306,3,1,1,2,no_holiday,1994,0,0,...,0,0,0,0,0,0,0,0,0,3.5
2,1,307,3,1,1,2,no_holiday,1993,0,0,...,0,0,0,0,0,0,0,0,0,5.0
3,1,665,3,1,1,3,no_holiday,1995,0,0,...,0,0,0,0,0,0,0,1,0,5.0
4,1,899,3,1,1,2,no_holiday,1952,0,0,...,0,0,1,0,1,0,0,0,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24983464,162541,50872,2,1,1,4,no_holiday,2007,0,0,...,0,0,0,0,0,0,0,0,0,4.0
24983465,162541,55768,2,1,1,4,no_holiday,2007,0,0,...,0,0,0,0,0,0,0,0,0,4.0
24983466,162541,56176,2,1,1,4,no_holiday,2007,0,0,...,0,0,0,0,0,0,0,0,0,4.0
24983467,162541,58559,2,1,1,4,no_holiday,2008,1,0,...,0,0,0,0,0,0,0,0,0,4.0
24983468,162541,63876,2,1,1,4,no_holiday,2008,0,0,...,0,0,0,0,0,0,0,0,0,3.0

In [5]:
# Label encode categorical columns
categorical_columns = ['holiday']
label_encoders = {}

for column in categorical_columns:
    if column in movielens_context_data.columns.to_list():
        print(f"Column {column} is in context_data")
        label_encoder = LabelEncoder()
        movielens_context_data[column] = label_encoder.fit_transform(movielens_context_data[column])
        label_encoders[column] = label_encoder

movielens_context_data

Column holiday is in context_data

,userId,movieId,day,isWeekday,season,partOfDay,holiday,movieYear,genreAction,genreAdventure,...,genreFilm-noir,genreHorror,genreMusical,genreMystery,genreRomance,genreSci-fi,genreThriller,genreWar,genreWestern,rating
0,1,296,3,1,1,3,2,1994,0,0,...,0,0,0,0,0,0,1,0,0,5.0
1,1,306,3,1,1,2,2,1994,0,0,...,0,0,0,0,0,0,0,0,0,3.5
2,1,307,3,1,1,2,2,1993,0,0,...,0,0,0,0,0,0,0,0,0,5.0
3,1,665,3,1,1,3,2,1995,0,0,...,0,0,0,0,0,0,0,1,0,5.0
4,1,899,3,1,1,2,2,1952,0,0,...,0,0,1,0,1,0,0,0,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24983464,162541,50872,2,1,1,4,2,2007,0,0,...,0,0,0,0,0,0,0,0,0,4.5
24983465,162541,55768,2,1,1,4,2,2007,0,0,...,0,0,0,0,0,0,0,0,0,2.5
24983466,162541,56176,2,1,1,4,2,2007,0,0,...,0,0,0,0,0,0,0,0,0,2.0
24983467,162541,58559,2,1,1,4,2,2008,1,0,...,0,0,0,0,0,0,0,0,0,4.0
24983468,162541,63876,2,1,1,4,2,2008,0,0,...,0,0,0,0,0,0,0,0,0,5.0

In [6]:
train, temp = train_test_split(movielens_context_data, test_size=0.2, random_state=42)
val, test = train_test_split(temp, test_size=0.5, random_state=42)

In [8]:
train_target_ratings = train['rating'].values
val_target_ratings = val['rating'].values
test_target_ratings = test['rating'].values

train_data = train.drop(['rating'], axis=1)
val_data = val.drop(['rating'], axis=1)
test_data = test.drop(['rating'], axis=1)

In [ ]:
# Standardize columns
scaler = StandardScaler()
train_data = scaler.fit_transform(train_data)
val_data = scaler.fit_transform(val_data)
test_data = scaler.fit_transform(test_data)

In [ ]:
# Save the data to disk

training_data_path = config['training_data']
data_group = 'data_25m/'
folder = 'movielens_context/'

dump(scaler, file_depth + training_data_path + f"{data_group}{folder}25m_movielens_context_scaler.pkl")

del scaler

for column in categorical_columns:
    try:
        if label_encoders[column] != {}:
            dump(label_encoders[column], file_depth + training_data_path + f"{data_group}{folder}{column}_label_encoder.pkl")
    except KeyError:
        pass
    

np.save(file_depth + training_data_path + f"{data_group}{folder}train_data.npy", train_data)
del train_data
np.save(file_depth + training_data_path + f"{data_group}{folder}val_data.npy", val_data)
del val_data
np.save(file_depth + training_data_path + f"{data_group}{folder}test_data.npy", test_data)
del test_data
np.save(file_depth + training_data_path + f"{data_group}{folder}train_target_ratings.npy", train_target_ratings)
del train_target_ratings
np.save(file_depth + training_data_path + f"{data_group}{folder}val_target_ratings.npy", val_target_ratings)
del val_target_ratings
np.save(file_depth + training_data_path + f"{data_group}{folder}test_target_ratings.npy", test_target_ratings)

-----
#### Same stuff but more memory efficient

In [6]:
train, temp = train_test_split(movielens_context_data, test_size=0.2, random_state=42)
del movielens_context_data
val, test = train_test_split(temp, test_size=0.5, random_state=42)
del temp

In [8]:
scaler = StandardScaler()
training_data_path = config['training_data']
data_group = 'data_25m/'
folder = 'movielens_context/'

In [9]:
val_target_ratings = val['rating'].values
val_data = val.drop(['rating'], axis=1)
del val
val_data = scaler.fit_transform(val_data)
np.save(file_depth + training_data_path + f"{data_group}{folder}val_data.npy", val_data)
del val_data
np.save(file_depth + training_data_path + f"{data_group}{folder}val_target_ratings.npy", val_target_ratings)
del val_target_ratings

In [10]:
test_target_ratings = test['rating'].values
test_data = test.drop(['rating'], axis=1)
del test
test_data = scaler.fit_transform(test_data)
np.save(file_depth + training_data_path + f"{data_group}{folder}test_data.npy", test_data)
del test_data
np.save(file_depth + training_data_path + f"{data_group}{folder}test_target_ratings.npy", test_target_ratings)
del test_target_ratings

In [11]:
train_target_ratings = train['rating'].values
train_data = train.drop(['rating'], axis=1)
del train
train_data = scaler.fit_transform(train_data)
np.save(file_depth + training_data_path + f"{data_group}{folder}train_data.npy", train_data)
del train_data
np.save(file_depth + training_data_path + f"{data_group}{folder}train_target_ratings.npy", train_target_ratings)
del train_target_ratings

In [12]:
dump(scaler, file_depth + training_data_path + f"{data_group}{folder}25m_movielens_context_scaler.pkl")

for column in categorical_columns:
    try:
        if label_encoders[column] != {}:
            dump(label_encoders[column], file_depth + training_data_path + f"{data_group}{folder}{column}_label_encoder.pkl")
    except KeyError:
        pass