In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import json

In [2]:
# depth of this file in the project
file_depth = '../..'

with open(file_depth + '/config/data_25m_config.json') as config_file:
    config = json.load(config_file)

### Get suitable users

In [3]:
# added_imdb_context = pd.read_csv(file_depth + '/dataset/ml-1m/new_context/context_data.csv')
added_imdb_context = pd.read_csv(file_depth + '/dataset/ml-25m/new_context/added_imdb_context_with_ratings.csv')
added_imdb_context

,userId,movieId,day,isWeekday,season,partOfDay,holiday,movieYear,titleType,isAdult,...,genreNews,genreReality-tv,genreRomance,genreSci-fi,genreShort,genreSport,genreThriller,genreWar,genreWestern,rating
0,1,296,3,1,1,3,no_holiday,1994,movie,0,...,0,0,0,0,0,0,1,0,0,5.0
1,1,306,3,1,1,2,no_holiday,1994,movie,0,...,0,0,0,0,0,0,0,0,0,3.5
2,1,307,3,1,1,2,no_holiday,1993,movie,0,...,0,0,0,0,0,0,0,0,0,5.0
3,1,665,3,1,1,3,no_holiday,1995,movie,0,...,0,0,0,0,0,0,0,1,0,5.0
4,1,899,3,1,1,2,no_holiday,1952,movie,0,...,0,0,1,0,0,0,0,0,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24983464,162541,50872,2,1,1,4,no_holiday,2007,movie,0,...,0,0,0,0,0,0,0,0,0,4.5
24983465,162541,55768,2,1,1,4,no_holiday,2007,movie,0,...,0,0,0,0,0,0,0,0,0,2.5
24983466,162541,56176,2,1,1,4,no_holiday,2007,movie,0,...,0,0,0,0,0,0,0,0,0,2.0
24983467,162541,58559,2,1,1,4,no_holiday,2008,movie,0,...,0,0,0,0,0,0,0,0,0,4.0
24983468,162541,63876,2,1,1,4,no_holiday,2008,movie,0,...,0,0,0,0,0,0,0,0,0,5.0

In [4]:
train, temp = train_test_split(added_imdb_context, test_size=0.2, random_state=42)
del added_imdb_context
val, test = train_test_split(temp, test_size=0.5, random_state=42)
del temp, val

In [5]:
test

,userId,movieId,day,isWeekday,season,partOfDay,holiday,movieYear,titleType,isAdult,...,genreNews,genreReality-tv,genreRomance,genreSci-fi,genreShort,genreSport,genreThriller,genreWar,genreWestern,rating
6654637,43093,1923,3,1,2,4,summer_holiday,1998,movie,0,...,0,0,1,0,0,0,0,0,0,4.0
9020158,58800,57669,3,1,1,2,no_holiday,2008,movie,0,...,0,0,0,0,0,0,1,0,0,4.5
20608463,134109,69075,5,1,2,4,summer_holiday,1997,movie,0,...,0,0,0,0,0,0,0,0,0,2.5
21749083,141503,1663,5,1,4,1,no_holiday,1981,movie,0,...,0,0,0,0,0,0,0,1,0,4.5
22630674,147198,1136,4,1,4,4,no_holiday,1975,movie,0,...,0,0,0,0,0,0,0,0,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16578624,107639,3977,6,0,3,4,no_holiday,2000,movie,0,...,0,0,0,0,0,0,0,0,0,2.5
3339241,22136,2870,1,1,3,4,no_holiday,1967,movie,0,...,0,0,0,0,0,0,0,0,0,4.0
24899635,162047,7883,7,0,1,3,no_holiday,1943,movie,0,...,0,0,0,0,0,0,0,0,0,3.5
15338408,99479,54995,1,1,3,4,no_holiday,2007,movie,0,...,0,0,0,1,0,0,0,0,0,3.0
21817179,141933,6754,1,1,4,3,no_holiday,2003,movie,0,...,0,0,0,0,0,0,0,0,0,3.5

In [10]:
train_user_counts = train['userId'].value_counts()
test_user_counts = test['userId'].value_counts()

# Get userIds of users that have more then 1000 rows in train split and more then 100 rows test split
user_ids = set(train_user_counts.index[train_user_counts >= 3000]) & set(test_user_counts.index[test_user_counts >= 300])

data = []

for user_id in user_ids:
    train_count = train_user_counts.get(user_id, 0)
    test_count = test_user_counts.get(user_id, 0)
    
    data.append({'userId': user_id, 'trainCount': train_count, 'testCount': test_count})
    print(f"User {user_id} (train split: {train_count}, test split: {test_count})")

user_counts_in_splits = pd.DataFrame(data)

User 78849 (train split: 4181, test split: 526)
User 107650 (train split: 3440, test split: 478)
User 2177 (train split: 3386, test split: 430)
User 18306 (train split: 3236, test split: 438)
User 20744 (train split: 3051, test split: 398)
User 36618 (train split: 3750, test split: 453)
User 32778 (train split: 3051, test split: 423)
User 92046 (train split: 5190, test split: 694)
User 60305 (train split: 3084, test split: 412)
User 55189 (train split: 3216, test split: 411)
User 122011 (train split: 4157, test split: 491)
User 115102 (train split: 4459, test split: 590)
User 30879 (train split: 4582, test split: 545)
User 93855 (train split: 4012, test split: 541)
User 109731 (train split: 5322, test split: 667)
User 24869 (train split: 3416, test split: 453)
User 34987 (train split: 3797, test split: 530)
User 8619 (train split: 3707, test split: 525)
User 75309 (train split: 4413, test split: 563)
User 132651 (train split: 3616, test split: 457)
User 97452 (train split: 3614, test split: 467)
User 126637 (train split: 3508, test split: 455)
User 30643 (train split: 3576, test split: 462)
User 33844 (train split: 6353, test split: 847)
User 46264 (train split: 3060, test split: 370)
User 103611 (train split: 3868, test split: 452)
User 37438 (train split: 3442, test split: 426)
User 123711 (train split: 3332, test split: 389)
User 156480 (train split: 3424, test split: 475)
User 111038 (train split: 3065, test split: 364)
User 90691 (train split: 3006, test split: 381)
User 143049 (train split: 3692, test split: 483)
User 94154 (train split: 3227, test split: 370)
User 57548 (train split: 4061, test split: 485)
User 137293 (train split: 7110, test split: 929)
User 80974 (train split: 7392, test split: 898)
User 111311 (train split: 3152, test split: 423)
User 53837 (train split: 3131, test split: 374)
User 61010 (train split: 4185, test split: 538)
User 20179 (train split: 3561, test split: 467)
User 162516 (train split: 3606, test split: 440)
User 20055 (train split: 5955, test split: 739)
User 39896 (train split: 3079, test split: 404)
User 144475 (train split: 3398, test split: 440)
User 58588 (train split: 3175, test split: 388)
User 61412 (train split: 3316, test split: 385)
User 85757 (train split: 3592, test split: 440)
User 29803 (train split: 4221, test split: 483)
User 60655 (train split: 3233, test split: 412)
User 93424 (train split: 3153, test split: 430)
User 49403 (train split: 5169, test split: 690)
User 152690 (train split: 3016, test split: 372)
User 110971 (train split: 4532, test split: 539)
User 150005 (train split: 3422, test split: 428)
User 136310 (train split: 3826, test split: 466)
User 17783 (train split: 3618, test split: 478)
User 135672 (train split: 3137, test split: 386)
User 72315 (train split: 25518, test split: 3312)
User 32253 (train split: 3377, test split: 400)
User 162047 (train split: 3810, test split: 494)

In [11]:
len(data)

60

In [8]:
user_counts_in_splits.to_csv('user_ids_in_train_test_split_25ml.csv', index=False)
test.to_csv('test_split_25ml.csv', index=False)