In [1]:
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.models import load_model
import matplotlib.pyplot as plt
import plotly.express as px
import pandas as pd
import numpy as np
import json
import os

d:\.exe\miniconda\envs\dp\lib\site-packages\h5py\__init__.py:36: UserWarning: h5py is running against HDF5 1.12.2 when it was built against 1.12.1, this may cause problems
  _warn(("h5py is running against HDF5 {0} when it was built against {1}, "

In [18]:
nn_config_path = '../config/nn_config.json'

with open(nn_config_path, 'r') as f:
    nn_config = json.load(f)

training_data_path = 'data_25m/'
training_data_file = 'no_context/'

In [19]:
try:
  train_data = np.load(training_data_path + training_data_file + 'train_data.npy')
  val_data = np.load(training_data_path + training_data_file + 'val_data.npy')
  test_data = np.load(training_data_path + training_data_file + 'test_data.npy')
  train_target_ratings = np.load(training_data_path + training_data_file + 'train_target_ratings.npy')
  val_target_ratings = np.load(training_data_path + training_data_file + 'val_target_ratings.npy')
  test_target_ratings = np.load(training_data_path + training_data_file + 'test_target_ratings.npy')

except OSError as e:
  print('\nERROR loading training data')
  print(e)
  quit()

In [20]:
np.isnan(train_data).any()

False

In [21]:
np.amin(train_data)

-1.735065798595877

In [22]:
np.amax(train_data)

4.790604162470942

In [27]:
# np.isnan(train_target_ratings)

nan_count = np.sum(np.isnan(train_target_ratings))
nan_count

13249

In [50]:
print('Max: ', np.amax(test_data))
print('Min: ', np.amin(test_data))

Max:  4.792629290163355
Min:  -1.7352720797287997

nan

In [2]:
file_depth = '..'
ratings_target = pd.read_csv(file_depth + '/dataset/ml-25m/new_context/ratings_target.csv')
ratings_target

          ratingId  rating
0                0     5.0
1                1     3.5
2                2     5.0
3                3     5.0
4                4     3.5
...            ...     ...
24983464  24983464     4.5
24983465  24983465     2.5
24983466  24983466     2.0
24983467  24983467     4.0
24983468  24983468     5.0

[24983469 rows x 2 columns]

In [3]:
ratings_target[ratings_target['rating'] == np.nan]

Empty DataFrame
Columns: [ratingId, rating]
Index: []

In [37]:
ratings_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24983469 entries, 0 to 24983468
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   ratingId  int64
 1   rating    float64
dtypes: float64(1), int64(1)
memory usage: 381.2 MB

In [39]:
has_na = ratings_target.isna().any().any()
has_na

False

In [41]:
has_nan = ratings_target.isna().any().any()
has_nan

False

In [4]:
nan_rows_df = ratings_target[ratings_target.isna().any(axis=1)]
nan_rows_df

Empty DataFrame
Columns: [ratingId, rating]
Index: []