In [1]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from joblib import dump
import pandas as pd
import numpy as np
import json

In [5]:
# depth of this filr in the project
file_depth = '../..'
path = '../experiment_2_feature_selection/feature_selections_results/'

In [3]:
with open(file_depth + '/config/data_1m_config.json') as config_file:
    config = json.load(config_file)

context_data_path = config['context_data']

In [4]:
context_data = pd.read_csv(file_depth + context_data_path)
context_data

,user_id,movie_id,day,is_weekday,season,part_of_day,holiday,user_gender,user_age,user_occupation,...,genre_film-noir,genre_forchildren,genre_horror,genre_musical,genre_mystery,genre_romance,genre_sci-fi,genre_thriller,genre_war,genre_western
0,1,1193,7,0,4,4,new_years,F,1,10,...,0,0,0,0,0,0,0,0,0,0
1,1,661,7,0,4,4,new_years,F,1,10,...,0,1,0,1,0,0,0,0,0,0
2,1,914,7,0,4,4,new_years,F,1,10,...,0,0,0,1,0,1,0,0,0,0
3,1,3408,7,0,4,4,new_years,F,1,10,...,0,0,0,0,0,0,0,0,0,0
4,1,2355,7,0,4,4,no_holiday,F,1,10,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,0,0,0,0,0
1000205,6040,1094,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,1,0,0,1,0
1000206,6040,562,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,0,0,0,0,0
1000207,6040,1096,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,0,0,0,0,0
1000208,6040,1097,3,1,1,4,no_holiday,M,25,6,...,0,1,0,0,0,0,1,0,0,0

#### Mutual Information

In [5]:
features_selected = []
with open(path + 'mi_selected_features.txt', 'r') as file:
    for line in file:
        features_selected.append(line.strip())

# Dropping columns not present in features_selected
columns_to_drop = [col for col in context_data.columns if col not in features_selected]
mi_context_data = context_data.drop(columns=columns_to_drop)
mi_context_data

,user_id,movie_id,day,season,holiday,user_gender,user_age,user_occupation,user_zip_code,movie_year,genre_action,genre_animation,genre_comedy,genre_crime,genre_drama,genre_film-noir,genre_horror,genre_romance,genre_sci-fi,genre_war
0,1,1193,7,4,new_years,F,1,10,48067,1975,0,0,0,0,1,0,0,0,0,0
1,1,661,7,4,new_years,F,1,10,48067,1996,0,1,0,0,0,0,0,0,0,0
2,1,914,7,4,new_years,F,1,10,48067,1964,0,0,0,0,0,0,0,1,0,0
3,1,3408,7,4,new_years,F,1,10,48067,2000,0,0,0,0,1,0,0,0,0,0
4,1,2355,7,4,no_holiday,F,1,10,48067,1998,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,3,1,no_holiday,M,25,6,11106,1989,0,0,1,0,0,0,0,0,0,0
1000205,6040,1094,3,1,no_holiday,M,25,6,11106,1992,0,0,0,0,1,0,0,1,0,1
1000206,6040,562,3,1,no_holiday,M,25,6,11106,1995,0,0,1,0,1,0,0,0,0,0
1000207,6040,1096,3,1,no_holiday,M,25,6,11106,1982,0,0,0,0,1,0,0,0,0,0
1000208,6040,1097,3,1,no_holiday,M,25,6,11106,1982,0,0,0,0,1,0,0,0,1,0

#### Logistic Regression

In [6]:
features_selected = []
with open(path + 'lr_selected_features.txt', 'r') as file:
    for line in file:
        features_selected.append(line.strip())

# Dropping columns not present in features_selected
columns_to_drop = [col for col in context_data.columns if col not in features_selected]
lr_context_data = context_data.drop(columns=columns_to_drop)
lr_context_data

,movie_id,user_age,movie_year,genre_animation,genre_documentary,genre_drama,genre_film-noir,genre_forchildren,genre_horror,genre_thriller,genre_war
0,1193,1,1975,0,0,1,0,0,0,0,0
1,661,1,1996,1,0,0,0,1,0,0,0
2,914,1,1964,0,0,0,0,0,0,0,0
3,3408,1,2000,0,0,1,0,0,0,0,0
4,2355,1,1998,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1000204,1091,25,1989,0,0,0,0,0,0,0,0
1000205,1094,25,1992,0,0,1,0,0,0,0,1
1000206,562,25,1995,0,0,1,0,0,0,0,0
1000207,1096,25,1982,0,0,1,0,0,0,0,0
1000208,1097,25,1982,0,0,1,0,1,0,0,0

#### L1

In [7]:
features_selected = []
with open(path + 'l1_selected_features.txt', 'r') as file:
    for line in file:
        features_selected.append(line.strip())

# Dropping columns not present in features_selected
columns_to_drop = [col for col in context_data.columns if col not in features_selected]
l1_context_data = context_data.drop(columns=columns_to_drop)
l1_context_data

,user_id,movie_id,day,is_weekday,season,part_of_day,holiday,user_gender,user_age,user_occupation,...,genre_film-noir,genre_forchildren,genre_horror,genre_musical,genre_mystery,genre_romance,genre_sci-fi,genre_thriller,genre_war,genre_western
0,1,1193,7,0,4,4,new_years,F,1,10,...,0,0,0,0,0,0,0,0,0,0
1,1,661,7,0,4,4,new_years,F,1,10,...,0,1,0,1,0,0,0,0,0,0
2,1,914,7,0,4,4,new_years,F,1,10,...,0,0,0,1,0,1,0,0,0,0
3,1,3408,7,0,4,4,new_years,F,1,10,...,0,0,0,0,0,0,0,0,0,0
4,1,2355,7,0,4,4,no_holiday,F,1,10,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,0,0,0,0,0
1000205,6040,1094,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,1,0,0,1,0
1000206,6040,562,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,0,0,0,0,0
1000207,6040,1096,3,1,1,4,no_holiday,M,25,6,...,0,0,0,0,0,0,0,0,0,0
1000208,6040,1097,3,1,1,4,no_holiday,M,25,6,...,0,1,0,0,0,0,1,0,0,0

Save context with selected features

In [8]:
feature_selected_path = config['feature_selected_path']

mi_context_data.to_csv(file_depth + feature_selected_path + 'mi_context_data.csv', index=False)
lr_context_data.to_csv(file_depth + feature_selected_path + 'lr_context_data.csv', index=False)
l1_context_data.to_csv(file_depth + feature_selected_path + 'l1_context_data.csv', index=False)